<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cadastro</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
    <%- include('../partials/navbar.ejs') %>
    <div class="container">
        <h1>Edição</h1>

        <form method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" name="nome" id="nome" class="form-control" value="<%= result.nome %>" required>
            </div>
            <div class="form-group">
                <label for="descricao">Descrição</label>
                <input type="text" name="descricao" id="descricao" class="form-control" value="<%= result.descricao %>">
            </div>
            <div class="form-group">
                <label for="tipo_produto">Tipo de alimento</label>
                <select id="tipo_produto" name="tipo_produto" class="form-control">
                    <option>Nenhuma</option>
                    <% categorias.forEach(categoria => { %>
                        <% if(categoria.nome == result.tipo_produto) { %>
                            <option selected><%= categoria.nome %></option>
                        <% } else { %>
                            <option><%= categoria.nome %></option>
                        <% } %>                        
                    <% }); %>
                </select>
            </div>
            <div class="form-group">
                <label for="preco">Preço</label>
                <input type="text" name="preco" id="preco" class="form-control" value="<%= result.preco %>" required>
            </div>
            <div class="form-group">
                <label for="preco">Imagem</label>
                <input type="file" name="imagem" id="imagem" class="form-control">

                <% if(result.imagem == 'undefined') { %>
                    <h6 class="mt-2">Nenhuma imagem salva</h6>
                <% } else { %>
                    <img src="/media/<%= result.imagem %>" width="300px"/>
                <% } %>
            </div>

            <button type="reset" class="btn btn-danger">Limpar</button>
            <button type="submit" class="btn btn-success">Atualizar</button>
        </form>
    </div>

    <script src="/assets/plugins/jquery-3.4.1.min.js"></script>
    <!--Plugin Jquery para criar máscaras nos inputs-->
    <script src="/assets/plugins/jquery.mask.min.js"></script>
    <script>
        $('#preco').mask('999.999.990,00', {reverse: true});
        
    </script>
</body>
</html>