<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/openDelivery.css">
</head>
<body>
    <%- include('../partials/navbar.ejs') %>
    <div class="container">

        <div class="row mt-4">
            <div class="col">
                <img src="/media/<%= result.imagem %>" class="img-responsive produto"/>
            </div>
            <div class="col">
                <h1 id="nome-produto"><%= result.nome %></h1>
                <h3 id="descricao-produto"><%= result.descricao %></h3>

                <div class="container_compra-quant">
                    <div class="container_preco-botao">
                        <h1>
                            R$ <span id="preco"><%= result.preco %></span>
                        </h1>
                        <button type="button" class="btn btn-primary adicionar" onclick="adicionarCesta();diminuirPagina()">+ Adicionar</button>
                    </div>

                    <div class="quant_produto">
                        <div class="quant_produto_menos">
                            <img src="/assets/img/icons/minus.png" id="img_menos" onclick="diminuir()"/>
                        </div>
                        <span id="quant">1</span>
                        <div class="quant_produto_mais">
                            <img src="/assets/img/icons/more.png" id="img_mais" onclick="aumentar()"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="rodape">
        &copy; Copyright 2020 - Eleson Souza - Todos os direitos reservados.
    </footer>
    </div>

    <br/>
        <div class="cesta">
            <div class="cesta-header">
                <h5>Todos os Pedidos</h5>
            </div>
            <div class="cesta-body">
                <p id="lista-cesta">

                </p>
                <p id="preco-total">
                    Total <span style="float: right">R$ 0,00</span>
                </p>
            </div>
        </div> 

    <%- include('partials/carrinho.ejs') %>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="/assets/scripts/enterSubmit.js"></script>
    <script src="/assets/scripts/quantProduto.js"></script>    

</body>
</html>