<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/openDelivery.css">
</head>
<body>
    <%- include('../partials/navbar.ejs') %>
    <div class="container">
        <div class="row mt-4">
            <div class="col">
                <img src="/media/<%= result.imagem %>" class="img-responsive produto"/>
            </div>            
            <div class="col">
                <h1 id="nome-produto"><%= result.nome %></h1>
                <h3 id="descricao-produto"><%= result.descricao %></h3>

                <div class="container_compra-quant">
                    <div class="container_preco-botao">
                        <h1>
                            R$ <span id="preco"><%= result.preco %></span>
                        </h1>

                        <form action="/foodapp/carrinho/novo" method="post">
                            <input type="hidden" name="produto" value="<%= result.nome %>">
                            <input type="hidden" name="descricao" value="<%= result.descricao %>">
                            <input type="hidden" name="quantidade" value="<%= quant %>">
                            <input type="hidden" name="preco" value="<%= result.preco %>">
                            <input type="hidden" name="id" value="<%= result.id %>">
                            <button type="submit" class="btn btn-primary adicionar"><i class="fas fa-plus-circle mr-2" style="font-size: 23px;"></i>Adicionar</button>
                        </form>
                    </div>

                    <div class="quant_produto">
                        <div class="quant_produto_menos">
                            <img src="/assets/img/icons/minus.png" id="img_menos" onclick="diminuir()"/>
                        </div>
                        <span id="quant"><%= quant %></span>
                        <div class="quant_produto_mais">
                            <img src="/assets/img/icons/more.png" id="img_mais" onclick="aumentar()"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="rodape">
        &copy; Copyright 2020 - Eleson Souza - Todos os direitos reservados.
    </footer>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="/assets/scripts/enterSubmit.js"></script>
    <script src="/assets/scripts/quantProduto.js"></script>    

</body>
</html>